In [1]:
import os
import sqlite3
import pandas as pd
import numpy as np
from numpy.random import randint, randn, rand
import matplotlib.pyplot as plt
%matplotlib notebook

In [2]:
def create_table(name='data'):
    c.execute(f"CREATE TABLE IF NOT EXISTS {name} (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,"\
    "x1 varFLOAT(8, 2), "\
    "x2 varFLOAT(8, 2), "\
    "x3 varFLOAT(8, 2), "\
    "y varFLOAT(8, 2))")

    
def data_insert_raw(x1, x2, x3, y, name="data"):
    c.execute(f"INSERT INTO {name} (x1, x2, x3, y) VALUES (?, ?, ?, ?)", 
              (x1, x2, x3, y))
    con.commit()
    
    
def read_all_data():
    c.execute("SELECT * FROM DATA")
    for raw in c.fetchall():
        print(raw)
        

def read_record(cond = - np.inf):
    c.execute(f"SELECT * FROM PRODUTOS WHERE valor > {cond}")
    for linha in c.fetchall():
        print(linha)      
        
def read_column(i_column):
    c.execute("SELECT * FROM DATA")
    for raw in c.fetchall():
        print(raw[i_column])  
        

def update_data(new_value = 0, cond = np.inf):
    c.execute(f"UPDATE produtos SET valor = {new_value} WHERE valor > {cond}")
    con.commit()
    
    
def remove_data(num):
    c.execute(f"DELETE FROM data WHERE valor = {num}")
    con.commit()
    

def remove_all_data(name="data"):
    c.execute(f"DELETE FROM {name}")
    con.commit()


def remove_db(name="dataStorage"):
    os.remove(f"{name}.db") if os.path.exists(f"{name}.db") else None

## Conectando o banco de dados

In [15]:
con = sqlite3.connect('cinemaSauro.db')

In [16]:
c = con.cursor()

### Criando tabelas

In [17]:
# Criando tabela Filme
c.execute(f"CREATE TABLE IF NOT EXISTS Filme"\
    "(cod_filme varCHAR PRIMARY KEY NOT NULL,"\
    "nome_filme varCHAR, "\
    "categoria_filme varCHAR, "\
    "duracao_filme varCHAR, "\
    "indicacao_etaria varCHAR,"\
    "empresa_produtora varCHAR,"\
    "nacional_filme varCHAR,"\
    "data_estreia varCHAR)")
con.commit()

In [18]:
# Criando tabela Participa_Filme_Ator
c.execute(f"CREATE TABLE IF NOT EXISTS Participa_Filme_Ator"\
    "(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,"\
    "cod_filme varCHAR,"\
    "cod_ator varCHAR)")
con.commit()

In [19]:
# Criando tabela Ator
c.execute(f"CREATE TABLE IF NOT EXISTS Ator"\
    "(cod_ator varCHAR PRIMARY KEY NOT NULL,"\
    "nome_ator varCHAR, "\
    "idade_ator SMALLINT, "\
    "sexo_ator CHAR(1))")
con.commit()

### Adicionando Registros

In [20]:
cod_filme = "1234"
nome_filme = "Dinossauros da Pesada"
categoria_filme = "Acao"
duracao_filme = "1h40"
indicacao_etaria = "10"
empresa_produtora = "REX Square"
nacional_filme = "Sim"
data_estreia = "20/11/22"

c.execute("INSERT INTO Filme (cod_filme,"\
          "nome_filme,"\
          "categoria_filme,"\
          "duracao_filme,"\
          "indicacao_etaria,"\
          "empresa_produtora,"\
          "nacional_filme,"\
          "data_estreia) VALUES (?, ?, ?, ?, ?, ?, ?, ?)", 
            (cod_filme,
            nome_filme,
            categoria_filme,
            duracao_filme,
            indicacao_etaria,
            empresa_produtora,
            nacional_filme,
            data_estreia))
con.commit()

In [21]:
cod_ator = "123"
nome_ator = "Ramon Dino"
idade_ator = 25
sexo_ator = 'M'

c.execute("INSERT INTO Ator"\
    "(cod_ator,"\
    "nome_ator, "\
    "idade_ator, "\
    "sexo_ator) VALUES (?, ?, ?, ?)",
         (cod_ator,
         nome_ator,
         idade_ator,
         sexo_ator))

con.commit()

In [22]:
cod_ator = "124"
nome_ator = "Carlinha Rex"
idade_ator = 28
sexo_ator = 'F'

c.execute("INSERT INTO Ator"\
    "(cod_ator,"\
    "nome_ator, "\
    "idade_ator, "\
    "sexo_ator) VALUES (?, ?, ?, ?)",
         (cod_ator,
         nome_ator,
         idade_ator,
         sexo_ator))

con.commit()

In [23]:
cod_filme = "1234"
cod_ator = "123"
c.execute("INSERT INTO Participa_Filme_Ator"\
    "(cod_filme,"\
    "cod_ator) VALUES (?, ?)",
         (cod_filme,
         cod_ator)
         )

con.commit()

In [24]:
cod_filme = "1234"
cod_ator = "124"
c.execute("INSERT INTO Participa_Filme_Ator"\
    "(cod_filme,"\
    "cod_ator) VALUES (?, ?)",
         (cod_filme,
         cod_ator)
         )

con.commit()

In [25]:
# c.execute("DROP TABLE Filme")
# c.execute("DROP TABLE Participa_Filme_Ator")
# c.execute("DROP TABLE Ator")
# con.commit()

In [26]:
c.close()